In [1]:
import pandas as pd

#creating dataframe for the 3 month and 6 month datasets

In [ ]:
df_3_month = pd.read_csv("data/3_months_data.csv")
df_6_month = pd.read_csv("data/6_months_data.csv")

# replacing null values with 0 in the Income column for 3 and 6 month data set

In [ ]:
df_3_month['Income'] = df_3_month['Income'].fillna(0)
df_6_month['Income'] = df_6_month['Income'].fillna(0)

# updating VISA_Balance column with average values

In [ ]:
df_3_month['VISA_balance']=df_3_month['VISA_balance'].replace(0,df_3_month['VISA_balance'].mean())